* {
    box-sizing: border-box;
}
a,
h1,
h2,
h3,
h4,
h5,
span {
    text-decoration: none;
}

h1 {
    font-size: 1.6rem;
    font-weight: 700;
}
h3 {
    font-size: 1rem;
    font-weight: 700;
}
.step {
    display: none;
}

.step.active {
    display: flex;
}
.hero {
    /* height: 100vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border: 1px dotted red;
    margin-top: 2rem;
}

.bg-card {
    background-color: #dceddd;
}
.flexi {
    display: flex;
    gap: 1.25rem;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-only {
    display: flex;
    justify-content: space-between; /* Center items horizontally within the container */
    /* align-items: flex-start; */
}
.flex-col input[type="text"] {
    width: 40rem; /* Adjust the width as needed */
    padding: 8px;
    font-size: 16px;
}
#button {
    background-color: #dceddd;
}
label {
    display: inline-block;
    width: 220px; /* Adjust the width as needed for your layout */
    margin-bottom: 5px;
}
input,
select {
    border: 1px solid rgb(119, 119, 119);
    border-radius: 8px; /* Adjust the value for desired roundness */
}
.label-nospace {
    display: inline-block;
    width: auto; /* Adjust the width as needed for your layout */
    margin-bottom: 5px;
}

.hero-content {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    max-width: 90rem;
    padding: 1.8rem 1.2rem;
    gap: 2.5rem;
    border: 1px dotted red;
}
.left {
    border: 1px dotted cyan;
    width: 80rem;
    height: auto;
    overflow: hidden; /* This prevents the child from overflowing */
}
.right {
    border: 1px dotted cyan;
    width: 40rem;
    height: 25rem;
    /* overflow: ;  This prevents the child from overflowing */
}
.bg-card {
    padding: 2rem;
    border-radius: 25px;
}
